* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: darkslategrey;
} 

p {		
	color: darkblue;		
}

p, h1 {			
	text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-img {
    width: 1200px;
    height: 400px;
}

#list-highlight {
    margin-left: 20px;
}

input, label { 
    display: block; 
}

input { 
    margin-bottom: 16px;
}
